# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Virtual environment
venv/
env/
.venv/
.env/

# Distribution / packaging
build/
dist/
*.egg-info/

# Jupyter Notebook checkpoints
.ipynb_checkpoints/

# Pytest cache
.pytest_cache/

# VS Code settings
.vscode/

# macOS and Linux system files
.DS_Store
*.swp

# Log files
*.log

# Environment variable files
.env
*.env

# Compiled C extensions
*.so
jfi-qrxy-rux

models/
.models/